{% extends "bases/base_pages.html" %}
{% block title %} {% endblock title %}
{% block content %}
<!-- Page top section -->
<div id="app">
{% for b in image %} 
 {% if forloop.counter == 1 %}          
<section class="page-top-section set-bg" data-setbg="{{b.contact.url}}">
	{% endif %}
	{% endfor %}

	{% for b in about %} 
 {% if forloop.counter == 1 %} 
 
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="page-top-text text-white">
						<h2>Contact Us</h2>
						<p>{{b.text}}</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	<div class="hero-social-warp">
		<div class="hero-social">
				{% for l in lien %}
				{% if forloop.counter == 1 %}
				<a href="{{l.facebook}}"><i class="fa fa-facebook"></i></a>
				<a href="{{l.linkedin}}"><i class="fa fa-linkedin"></i></a>
				<a href="{{l.twitter}}"><i class="fa fa-twitter"></i></a>
				<a href="{{l.youtube}}"><i class="fa fa-youtube-play"></i></a>
				<a href="{{l.instagrame}}"><i class="fa fa-instagram"></i></a>
				{% endif %}
				{% endfor %}
		</div>
	</div>
</section>
<!-- Page top section end -->

<!-- Contact section-->
<section class="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 offset-lg-5">
				<div class="contact-info-box">
					<h5 class="contact-title">OFFICE</h5>
					<div class="contact-info">
						{% for i in info %}
						{% if forloop.counter == 1 %}
						<div class="ci-item">
							<img src="/static/img/icons/location.png" class="ci-icon" alt="">
							<p>{{i.adrresse}}</p>
						</div>
						<div class="ci-item">
							<img src="/static/img/icons/headphone.png" class="ci-icon" alt="">
							<p>{{i.contact}}<br>{{i.contact}}</p>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<h5 class="contact-title">QUICK HELLO</h5>
					<div v-if='isSuccess' class="alert alert-success" role="alert">
							${ reponse }
						</div>
						<div v-if='error' class="alert alert-danger" role="alert">
							${ reponse }
						</div>
					<form class="contact-form">
						<div class="form-field">
							<img src="/static/img/icons/profile.png" alt="" >
							<input v-model="name" type="text" placeholder="Full Name">
						</div>
						<div class="form-field">
							<img src="/static/img/icons/envelope.png" alt="" >
							<input v-model="email" type="text" placeholder="Email Address">
						</div>
						<div class="form-field">
							<img src="/static/img/icons/chat.png" alt="" >
							<textarea v-model="message" placeholder="Hi ..."></textarea>
						</div>
						<button v-on:click="senduser" v-if="!loader" class="site-btn">send</button> <div v-if="loader" class="lds-ring"><div></div><div></div><div></div><div></div></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Map -->
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d693971.6621063045!2d-90.0912505103206!3d36.108831972894045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d6b1b4c412b29f%3A0x9b2d8c4447fe1c96!2sCedar+St%2C+Black+Rock%2C+AR+72415%2C+USA!5e0!3m2!1sen!2sbd!4v1565787762946!5m2!1sen!2sbd" style="border:0"></iframe>
	</div>
</section>
<!-- Contact section end-->
</div>
{% endblock content %}